/* ========= Sekcja: Nasi klienci ============= */


.section-clients {
  max-width: 1200px;
  display: flex;
  justify-content: center;  
  margin: 0 auto;
  padding: 60px 15px;
 
&__figure {
display: flex;
height: 92px;
width: 210px;
background-color: white;
border: 1px solid #AFB1B8;
border-radius: 4px;
box-shadow: none;
margin: 30px 0px;
padding: 0px; 
justify-content: center;
align-items: center;
@media screen and (min-width: 480px) {
margin: 0;
}


&:hover {
color:var(--interactive-elements-color);
--color1:var(--interactive-elements-color);
  border: 1px solid #2196f3; 
}
}

}

@media screen and (min-width:768px) {
.section-clients {

&__figure {
height: 92px;
width: 226px;
}
}
}


@media screen and (min-width:1200px) {
.section-clients {
  padding: 94px 15px;

&__figure {
height: 92px;
width: 170px;
}
}
}

.section-clients__icons-list {
@media screen and (min-width: 480px) {
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media screen and (min-width: 786px) {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 1200px) {
  display: inline-flex;
  gap: 30px;
}
}