/* ____________HEADER - top-bar/menu_____________ */

// .header {
// &__logo {
// padding: 16px;
// padding-left: 15px;
// margin-right: auto;
// display: inline-block;
// align-items: center;


//  @media screen and (min-width: 768px) {
//       padding: 26px;
//       margin-right: 88px;
//     }
//     @media screen and (min-width: 1200px) {
//       margin-right: 93px;
//       // margin-left: 200px;
//       padding: 25px 15px;
//     }

//   } 

// &__logo-link {
// display: flex;
// font-family: Raleway;
// font-size: 24px;
// font-weight: 700;
// line-height: 28px;
// letter-spacing: 0.03em;
// text-align: left;
// color: black;
// text-decoration: none;

//     @media screen and (min-width: 1200px) {
//       font-size: 26px;
//     }

// }

// &__container {
// display: flex; 
// box-sizing: border-box;
// height: 60px;
// margin: 0px auto;
// margin-top: 0px;
// margin-bottom: 0px;
// // padding-left: 15px;
// // padding-right: 15px;
// border-bottom: 1px solid #ececec;
// background-color: var(--page-color);

// }

// @media screen and (min-width: 768px) {
//       height: 80px;
//     }
//     @media screen and (min-width: 1200px) {
//        height: 80px;
//        max-width: 1200px;
//     }

//   }


/* ____________HEADER - top-bar/menu_____________ */

 
.header {
display: flex;
background-color:var(--page-color);
height: 80px;
box-sizing: border-box;
margin-bottom: 0px;
max-width: 1200px;
// align-items: center;
// justify-content: space-between;

&__container {
display: flex; 
box-sizing: border-box;
max-width: 1200px;
height: 80px;
margin: 0px auto;
margin-top: 0px;
margin-bottom: 0px;
padding-left: 15px;
padding-right: 15px;
border-bottom: 1px solid #ececec;
background-color: var(--page-color);
}

&__logo {
display: inline-block;
margin: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
box-sizing: border-box;
margin-right: 0px;

}

&__logo-link {
  display: flex;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 2rem;
  margin-right: 4rem;
}
}

  .header {
    @media screen and (max-width: 767px) {
    display: none;
   }
   }