/* ============ FOOTER ============ */

@media (max-width: 1199px) {
.section-footer {
height: 603px;
background-color: var(--header-footer-color);
padding: 0px;

&__footer-tag {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  background-color: var(--header-footer-color);
  // height: 252px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  // align-items: center;
  // justify-content: center;
}

&__logo {
color: #ffffff;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: center;
text-decoration: none;

}

&__list {
display: flex;
flex-direction: column;
padding: 0;

}

 &__icons-list {
  display: flex;
  justify-content: center;  
  gap: 11px;
  padding: 0;
  padding-bottom: 30px;
  @media screen and(min-width: 1200px) {
  // display: inline-flex;
  }
}

&__icons-wrapper {
align-items: center;
}

&__join-us {
text-transform: uppercase;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;
color: white;
margin-top: 60px;
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
}

&__address {
  margin-top: 20px;
  font-style: normal;
}

&__link {
  color: #FFFFFF99;
  text-decoration: none;
 
  &:not(:last-child) {
  margin-bottom: 9px;  
}
}
&__icon {
--color1: white;
--color2:rgba(255, 255, 255, 0.1); 

&:focus {
  color:var(--interactive-elements-color);
  --color2:var(--interactive-elements-color);
  --color1:white;
}
}

&__newsletter {
  margin-left: 0px;
  align-items: center;
}

&__newsletter-text {
text-transform: uppercase;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(255, 255, 255, 1);
margin-top: 30px;
margin-bottom: 20px;
}

&__submit-button {
display: block;
align-items: center;
justify-content: center;
margin: 0 auto;
margin-bottom: 60px;
}

&__input {
background-color: #2F303A;
outline: none;
height: 50px;
width: 450px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: rgba(255, 255, 255, 1);
align-items: center;
margin-bottom: 20px;
@media screen and( max-width: 480px) {
width: 310px;
}

 &__logo-wrapper {
  @media screen and (min-width:1200px) {
   display: flex;
   flex:2;
  }
 }

&:focus {
background-color: #2F303A;
border: 3px solid #858585 ;
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

&__icons-list {
  display: flex;
  justify-content: center;  
  gap: 11px;
  padding: 0;
  padding-bottom: 30px;
  @media screen and(min-width: 1200px) {
display: inline-block;
    display: flex;
    justify-content: center;
    gap: 11px;
    padding: 0;
  }
}
}
}




/* ============ FOOTER 1200 ============ */
 

.section-footer {
 @media screen and (min-width: 1200px) { 
height: 252px;
background-color: var(--header-footer-color);
padding: 0px;
 }
&__footer-tag {
   @media screen and (min-width: 1200px) { 
height: 252px;
  display:flex;
  max-width: 1200px;
  background-color: var(--header-footer-color);
  height: 252px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0 auto;
  justify-content:flex-start;
  color: #ffffff;
  padding-top: 60px;
}
}
 
&__logo {
@media screen and (min-width: 1200px) { 
height: 252px;
color: #ffffff;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
padding: 40px;
}
}

&__list {
@media screen and (min-width: 1200px) { 
// display: flex;
// flex-direction: column;
}
}

&__address {
   @media screen and (min-width: 1200px) { 

  margin-top: 20px;
  font-style: normal;
}
}

&__link {
   @media screen and (min-width: 1200px) { 
  color: #FFFFFF99;
  text-decoration: none;
 
  &:not(:last-child) {
  margin-bottom: 9px;  
}
   }
  &:hover {
  color: var(--interactive-elements-color);
}
}


&__icons-wrapper {
   @media screen and (min-width: 1200px) { 
  margin-left: 70px;
  flex: 4;
  display: block;
  

}
}
&__join-us {
@media screen and (min-width: 1200px) { 
text-transform: uppercase;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;
color: white;
}
}

&__icon {
--color1: white;
--color2:rgba(255, 255, 255, 0.1); 

&:hover,
&:focus {
  color:var(--interactive-elements-color);
  --color2:var(--interactive-elements-color);
  --color1:white;
}
}

&__newsletter{
  @media screen and (min-width: 1200px) { 
margin-left: 78px;
}
}

&__newsletter-text {
   @media screen and (min-width: 1200px) { 
text-transform: uppercase;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
}

&__submit-button {
   @media screen and (min-width: 1200px) { 
display: inline-flex;
align-items: center;
padding-left: 42px;
gap: 24px;
   }
&:hover {
 background-color: var(--interactive-elements-color);
 color: white;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 scale: 1.03;
}
}

&__input {
   @media screen and (min-width: 1200px) { 
background-color: #2F303A;
outline: none;
height: 50px;
width: 358px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: rgba(255, 255, 255, 1);

&:focus {
background-color: #2F303A;
border: 3px solid #858585 ;
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}
}
}


.footer__list {
display: flex;
flex-direction: column;
padding: 0;

}

 .footer__icons-list {
  display: flex;
  justify-content: center;  
  gap: 11px;
  padding: 0;
  padding-bottom: 30px;
  @media screen and(min-width: 1200px) {
  // display: inline-flex;
  }
}

.stubborn-list {
  display: flex;
  justify-content: center;  
  gap: 11px;
  padding: 0;
  padding-bottom: 30px;
  list-style: none;
}

.wrapper-stubborn-list {
  display: block;
  margin-left: 50px;

  @media screen and (max-width: 1199px) {
    margin: 0;
  }

}